
#dock {
  background : url("../images/dock-left-40.png") no-repeat left 64px;
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none;
  margin: 0 auto;
  position: fixed;
  z-index: 0;
}

#dock a {
  cursor: default;
}

#dock li {
  /*resets*/background: none; margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
  float: left;
}

#dock > li > ul {
  /*resets*/background: none; margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
  left: 0;
  position: absolute;
  top: 0;
}

#dock > li > ul > li {
  /*resets*/background: none; margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none;
  position: absolute;
  top: 0;
}

div.jqDockLabel {
  border: 0 none;
  color: #222;
  font-family: "Calibri";
  font-size: 16px;
  line-height: 0;
  padding: 0 4px;
  white-space: nowrap;
}
